<html lang="en">
<%- include("./partial/head.ejs") %>

<body>
  <%- include("./partial/navbar.ejs") %>


    <h1 class="market-prod">Your personal products</h1>
  <div class="blogs contented">
    <% if (products.length > 0) { %>
      <% products.forEach(product => { %>
        <div class="m1-2 mb-1 img-para" >
          <img src="<%= product.imageUrl %>" alt="shoe/wears/accessories" class="photos">
          <p>Name: <%= product.name %></p>
          <p>Quantity: <%= product.Quantity %></p>
          <p>Selling Price: $<%= product.price %></p>
          <br /> 
        </div>
    
          <% }) %>

        <% } else { %>
        <p>There are no products to display in cart...</p>
    <% } %>
    </div>

  <%- include("./partial/footer.ejs") %>
</body>
</html>