<html lang="en">
<%- include("./partial/head.ejs") %>

<body>
  <%- include("./partial/navbar.ejs") %>

<div class="newmark" >
    <div class="addp text-center " style="margin-top: 60px;"><p>Add New Product</p></div>

  <div class="containerss">
      <div class="row">
          <div class="col-md-3"></div>
  <div class="col-md-6 newprod mb-3">
        <form action="/api/products" method="POST">
            <div class="form-group">
                <label for="name">Product Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Product Name">
            </div>
            <div class="form-group">
                <label for="userType">Choose a type:</label>
               <select name="type" class="form-select form-select-lg mb-3">
                    <option selected value="shoe">Shoe</option>
                    <option value="wears">Wears</option>
                    <option value="accessories">Accessories</option>
                </select>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="text" class="form-control" id="quantity" name="Quantity" placeholder="Quantity">
            </div>
            <div class="form-group">
                <label for="size">Size</label>
                <input type="text" class="form-control" id="size" name="size" placeholder="Size">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="size" name="price" placeholder="Price">
            </div>
            <div class="form-group">
                <label for="size">ImageUrl </label>
                <input type="text" class="form-control" id="size" name="imageUrl" placeholder="imageUrl">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="Description" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary ">Submit</button>
        </form>

  </div>
  <div class="col-md-6 newprod mb-3">
    <% if (product.length > 0) { %>
        <% product.forEach(product => { %>
          <div class="m1-2 mb-1">
            <img src="<%= product.imageUrl %>" alt="shoe/wears/accessories" class="photos">
            <p>Name: <%= product.name %></p>
            <p>Quantity: <%= product.Quantity %> in stock</p>
            <p>Price: <%= product.price %></p>
            <p>size: <%= product.size %></p>
            <p>Type: <%= product.type %></p>
            <% if (Type === 'Admin') { %>
              <h3><a href="/api/products/<%= product._id %>">Edit</a></h3>
            <% } %>
  
          </div>
  
        <% }) %>
      <% } else { %>
        <p>No new product added...</p>
      <% } %>
  </div>


      </div>
  </div>



</div>



    <%- include("./partial/footer.ejs") %>
</body>
</html>