<html lang="en">
<%- include("./partial/head.ejs") %>

<body>
  <%- include("./partial/navbar.ejs") %>
  <h1 class="yuse">Users</h1>
  <div class="blogs prodiv">
    

    <% if (users.length > 0) { %>
      <% users.forEach(usr => { %>
        <div class="m1-2 mb-1 usethem">
          <h5 class="trans"><b>User Info</b></h5>
          <p><b>Balance:</b> $<%= usr.balance %></p>
          <p><strong>Username:</strong> <%= usr.username %></p>
          <p><strong>Email:</strong> <%= usr.email %></p>
          <p><strong>Phone:</strong> <%= usr.phone %></p>

          
         
  <div class="accordion trans" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <div><h5 class="trans"><b>Previous Transaction</b></h5>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          <% if (usr.prevTransactions.length > 0) { %>
                <% usr.prevTransactions.forEach(trans => { %>
                    <p>Order: <%= trans %></p>
                <% }) %>
            <% } else { %>
                <p>No previous transaction</p>
            <% } %>
           </div>

      </div>
    </div>
  </div>
 </div>
 </div>

      <% }) %>
    <% } else { %>
      <p>There is no user to display...</p>
    <% } %>
  </div>

  <%- include("./partial/footer.ejs") %>
</body>
</html>


























